<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="Model.Properties.Settings.tuvannetviet_comConnectionString"
             connectionString="Data Source=172.28.248.1;Initial Catalog=an_viet_com;Persist Security Info=True;User ID=anviet;Password=0123456789"
            providerName="System.Data.SqlClient" />-->
    <!--<add name="Model.Properties.Settings.tuvannetviet_comConnectionString"
             connectionString="Data Source=(local);Initial Catalog=whitesandtravel_com_vn;Persist Security Info=True;User ID=cattrang;Password=WvAg36MdkC"
            providerName="System.Data.SqlClient" />-->

    <add name="Model.Properties.Settings.bdshoanvu_comConnectionString"
             connectionString="Data Source=172.28.248.1;Initial Catalog=Vieclamsieutoc_com;Persist Security Info=True;User ID=Vieclamsieutoc;Password=Dfg1r5g4re1g"
            providerName="System.Data.SqlClient" />

    <!--<add name="Model.Properties.Settings.bdshoanvu_comConnectionString"
             connectionString="Data Source=(local);Initial Catalog=bdshoanvu_com;Persist Security Info=True;User ID=hoanvu;Password=PtW3gK2aVU"
            providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="184.168.69.59" port="25" userName="postmaster@smarteyewear.com" password="Angela02" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <customErrors mode="Off" />
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha " />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Web.ASPxTreeList.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxEditors.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
    </compilation>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <sessionState mode="InProc" cookieless="false" timeout="360" />
    <httpRuntime maxRequestLength="20480" />
  </system.web>
  <rewriter>
    <rewrite url="~/ntv-thong-tin-ca-nhan" to="~/vi-vn/thongtincanhanNTV.aspx" />
    <rewrite url="~/ntv-ho-so-da-dang" to="~/vi-vn/hosodadangNTV.aspx" />
    <rewrite url="~/ntv-thong-bao-tu-ban-quan-tri" to="~/vi-vn/thongbaotubanquantriNTV.aspx" />
    <rewrite url="~/ntv-viec-lam-da-luu" to="~/vi-vn/vieclamdaluuNTV.aspx" />
    <rewrite url="~/ntv-viec-lam-da-ung-tuyen" to="~/vi-vn/vieclamdaungtuyenNTV.aspx" />
    <rewrite url="~/ntv-quan-ly-tim-viec" to="~/vi-vn/quanlytimviecNTV.aspx" />
    <rewrite url="~/ntv-nha-tuyen-dung-cua-toi" to="~/vi-vn/nhatuyendungcuatoiNTV.aspx" />
    <rewrite url="~/ntv-nha-tuyen-dung-da-xem-ho-so" to="~/vi-vn/nhatuyendungdaxemhosoNTV.aspx" />
    <rewrite url="~/ntv-tao-ho-so-tim-viec" to="~/vi-vn/taohosotimviecNTV.aspx" />
    <rewrite url="~/ntv-ho-so-ca-nhan" to="~/vi-vn/hosocanhanNTV.aspx" />

    <rewrite url="~/ntv-dang-ky" to="~/vi-vn/dangkyNTV.aspx" />
    <rewrite url="~/ntv-doi-mat-khau" to="~/vi-vn/doimatkhauNTV.aspx" />
    <rewrite url="~/quen-mat-khau" to="~/vi-vn/quenmatkhau.aspx" />
    <rewrite url="~/ntv-lay-lai-mat-khau" to="~/vi-vn/laylaimatkhauNTV.aspx" />
    <rewrite url="~/ntv-hoan-tat-dang-ky" to="~/vi-vn/hoantatdangkyNTV.aspx" />

    <rewrite url="~/viec-lam-hot" to="~/vi-vn/vieclamhotNTV.aspx" />
    <rewrite url="~/viec-lam-nhieu-nguoi-xem" to="~/vi-vn/vieclamnhieunguoixemNTV.aspx" />
    <rewrite url="~/tim-kiem-viec-lam-sieu-toc" to="~/vi-vn/timkiemvieclamsieutocNTV.aspx" />


    
    <rewrite url="~/ntd-thong-tin-tai-khoan" to="~/vi-vn/thongtinnhatuyendungNTD.aspx" />
    <rewrite url="~/ntd-tin-tuyen-dung-da-dang" to="~/vi-vn/tintuyendungdadangNTD.aspx" />
    <rewrite url="~/ntd-thong-bao-tu-ban-quan-tri" to="~/vi-vn/thongbaotubanquantriNTD.aspx" />
    <rewrite url="~/ntd-quan-ly-tuyen-dung" to="~/vi-vn/quanlytuyendungNTD.aspx" />
    <rewrite url="~/ntd-quan-ly-ho-so-ung-vien" to="~/vi-vn/quanlyhosoungvienNTD.aspx" />
    <rewrite url="~/ntd-xem-phan-hoi-tu-nguoi-tim-viec" to="~/vi-vn/phanhoitunguoitimviecNTD.aspx" />

    <rewrite url="~/ntd-dang-ky" to="~/vi-vn/dangkyNTD.aspx" />
    <rewrite url="~/ntd-doi-mat-khau" to="~/vi-vn/doimatkhauNTD.aspx" />


    <rewrite url="~/tim-kiem-ung-vien-sieu-toc" to="~/vi-vn/timkiemungviensieutocNTD.aspx" />    
    
    
    <rewrite url="~/trang-chu{1}.html" to="~/vi-vn/HomeNTV.aspx" />
    <rewrite url="~/nha-tuyen-dung.html" to="~/vi-vn/HomeNTD.aspx" />
    <rewrite url="~/in{1}/(.+).html" to="~/vi-vn/printpage.aspx?purl=$1" processing="stop" />
    <rewrite url="~/tim-kiem{1}.html(\?page=(.+))?" to="~/vi-vn/Page_Default_NTV.aspx?page=$2&amp;type=5" processing="stop" />
    <rewrite url="~/nha-tuyen-dung{1}/(.+){1}/(.+).html" to="~/vi-vn/Page_Default_NTD.aspx?purl=$2&amp;type=6" />
    <rewrite url="~/nha-tuyen-dung{1}/(.+).html(\?page=(.+))?" to="~/vi-vn/Page_Default_NTD.aspx?curl=$1&amp;page=$3&amp;type=3" />
    <rewrite url="~/(.+){1}/(.+).html" to="~/vi-vn/Page_Default_NTV.aspx?purl=$2&amp;type=6" />
    <rewrite url="~/(.+).html(\?page=(.+))?" to="~/vi-vn/Page_Default_NTV.aspx?curl=$1&amp;page=$3&amp;type=3" />
  </rewriter>
  <appSettings>
    <add key="LogFiles" value="Logfiles/Error.log" />
    <add key="URLWebRoot" value="" />
    <add key="USDRate" value="20965" />
    <add key="Email" value="no-reply@dangcapviet.vn" />
    <add key="EmailPassword" value="B9ETFXTH6h" />
    <add key="EmailDisplayName" value="diamondbaycity.com" />
    <add key="EmailHost" value="mail.dangcapviet.vn" />
    <add key="EmailPort" value="25" />
    <add key="URLWebsite" value="http://diamondbaycity.com" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings rightToLeft="false" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>