@font-face {
	font-family: 'fujiyama';
	src: url('fonts/fujiyama.eot');
	src: url('fonts/fujiyama.eot?iefix') format('eot'), url('fonts/fujiyama.woff') format('woff'), url('fonts/fujiyama.ttf') format('truetype'), url('fonts/fujiyama.svg#webfontZam02nTh') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body, fieldset {
	margin: 0;
	padding: 0;
	border: none
}
body {
	margin: 0;
	padding: 0;
	font: normal 13px/1.4 Arial, Helvetica, sans-serif;
	color: #333;
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
	overflow-x: hidden;
	background:#6CCFE2;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover, a span:hover {
	color: red;
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border: none;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.trans {
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
.list_ul li {
	float: left;
	width: 100%;
	margin: 5px 0
}
.font1 {
	font-size: 15px;
	font-weight: 200;
	text-transform: uppercase;
	word-spacing: -1px;
}
.font2 {
	font: 14px;
	font-weight: 700;
}
/* WRAPPER --------*/
.container {
	margin: 0 auto;
	position: relative;
	width: 1000px;
	background:#FFF;
	
}
/* LAYOUT

--------------------------*/

#main {
	overflow:hidden;
	padding:10px;
/*	width:100%;
	float:left;*/

}
#main_col {
	width: 72%;
	margin-top: 10px;
}
.sidebar {
	width: 27%;
	margin-top: 10px;
}
#main_col_sp {
	width: 100%;
	margin-top: 10px;
	float: left;
}
.container:after, header:after, footer:after, #main:after, .topnav:after, .hot_news:after, #footer_bottom:after, .top-main:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
.box:after, .box_ct:after, .product:after {
	clear: both;
	content: "";
	display: block;
	height: 0px;
	visibility: hidden;
}
/*--------------------------*/
/* HEADER*/
/*--------------------------*/
header {
	padding: 0px 0px 0px 0px;
	position: relative;
	width: 100%;
	float: left;
	min-height: 128px;
	background: url(../images/bg_header.png) bottom no-repeat;
}
header .hotline {
	color: #fff;
	font-weight: bold;
	text-align: left;
	position: absolute;
	top: 20px;
	right: 300px;
	font-size: 120%;
	line-height: 100%;
	width: 200px;
}
header .ho_tro_truc_tuyen {
	color: yellow;
	font-weight: bold;
	text-align: left;
	position: absolute;
	top: 50px;
	right: 10px;
	font-size: 100%;
	line-height: 100%;
	width: 285px;
	height: 53px;
	background: url(../images/bg_hotrotructuyen.png) left center no-repeat;
	color: #F90;
}
header .ho_tro_truc_tuyen div {
	padding: 20px;
	padding-left: 65px;
	color: #F90;
}
header .dang_nhap {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
}
#logo_text{ position: absolute;
	top: 10%;
	left: 40%;}
header .dang_nhap a {
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}
header .dang_nhap a:hover {
	color: yellow;
}
.hotline b {
	line-height: 100%;
	font-size: 150%;
	color:red
}
#logo {
	position: absolute;
	top: 10px;
	left: 30px;
	max-height: 200px;
}
#logo img {
	max-height: 150px;
}
#company_name {
	position: absolute;
	top: 20px;
	left: 320px;
}
#slogan {
	position: absolute;
	top: 30%;
	left: 40%;
}
/* SEARCH  */
#search_form {
	height: 30px;
	position: absolute;
	bottom: -38px;
	right: 10px;
	background: #FFFFFF;
	background: url(../Images/bg_search.png) no-repeat 0 0;
	width: 240px;
	z-index: 9999;
}
#search_form .inputSearch {
	background: none;
	border: none;
	height: 30px;
	margin: 0;
	line-height: 30px;
	width: 170px;
	padding: 0;
	color: #fff;
	text-indent: 15px;
	margin-left: 10px;
}
#search_form .submitSearch {
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	background: none;
	text-align: center;
	margin-right: 20px;
	color: #fff;
	text-transform: uppercase;
}
/*Slide chay ngang*/
.bottom_slide {
	width: 839px;
	height: 39px;
	background: url(../images/bottom_slide.png) top left no-repeat;
}
/*slide_ngang*/
.slide_ngang {
	width: 100%;
	position: relative;
	text-align: center;
	float: left;
	/*-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	border: 1px solid #ccc;*/
	margin-top: 20px;
	background: url(../images/bg_slide.png) top center no-repeat;
	margin-left: -19px;
	height: 206px;
}
/* _box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	position: relative;
	background: #fff;
	margin-top: 10px;
	border: solid 1px #ccc;
}
.box_ct {
	padding: 10px;
}
/* _side bar*/
.slide_ngang .box {
	overflow: hidden;
	background: none;
	border: 0px;
}
 
#main_col .box {
	width: 99%;
	float: right;
	padding-bottom: 10px;
}
.baner_sub {
	width: 339px;
	margin-top: 0px;
	color: #fff;
	
}
.baner_sub table{  background:#0C4C58; border:solid 5px #FD9B16; width:99%;  padding:10px;}
 .baner_sub table select{ background:#fff url(../images/bg_cbo.png) right no-repeat; height:25px; }
  .baner_sub table tr{ height:35px;  }
  .baner_sub table tr:nth-child(1){ height:20px  }
.baner_sub table h2{ padding:0; margin:0; color:yellow }
.baner_sub table input[type="radio"]{  background: #FD9B16 url(../images/rdo_bg.png) no-repeat; height:13px; width:13px;}
.baner_sub table input[type="radio"]:checked{ background:url(../images/rdo_bg_ck.png) no-repeat}
 
 
#main_col .box:first-child {
	margin-top: 0px;
}
.giohang_baner {
	margin-bottom: 10px;
}
.giohang_baner span {
	color: yellow;
}
.giohang_baner table {
	margin-left: 20px;
	float: left;
	line-height: 25px;
	font-size: 110%
}
.sidebar .box {
	margin-top: 10px;
}
.sidebar .box:first-child {
	margin-top: 0px;
}
.sidebar .box_ct {
	
	padding-bottom: 15px;
	overflow: hidden;
	text-align: center;
}
.sidebar nav .box_ct{padding: 0px;padding-bottom: 15px;}
.ads{ overflow:hidden; height: 130px; border:0px;}
.ads a {
	width: 25%;
	
	float: left;
	text-align:center;
}
.ads .box_ct{ padding:0px;}
.ads a img {
	width: 96%;
	height:128px;
	margin-left: 0px;
	border: solid 1px #17A3E1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;  
}
 


.sidebar table tr{ width:100%; float:left}
 
 
.sidebar .box row {
	min-width: 60%;
	float: left;
	padding: 3px;
	padding-left: 20px;
	font-size: 110%
}
/*Tab*/
.box_Tab {
	height: 43px;
	line-height: 43px;
	background: url(../images/bg_box_tab.png) left center no-repeat;
	text-align: left;
	padding-left: 10px;
	position: relative;
	left: -7px;
	color: #fff;
}
.title_box {
	height: 43px;
	line-height: 43px;
	background: url(../images/bg_title.png) left top repeat-x;
	text-align: center;
	padding-left: 0px;
	color: #fff;
}
/*.box_Tab span {
	float: left;
	padding-left: 55px;
	line-height: 54px;
}*/
/*#main_col .box_Tab {
	margin: 0;
	padding: 0;
	width: 100%;
	 
	background-size: 100% 100%;
	position: absolute;
	left: -8px;
	padding-right: 16px;
}*/
/*-------------------------------------*/
/*Products */
/*-------------------------------------*/
.product_row {
	float: left;
	width: 100%;
}
.product_row ul {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
}
.product_row li {
	float: left;
	width: 33.3%;
	margin-top: 10px;
}
.jcarousel-skin-tango .product_row li {
	float: left;
	width: 245px;
	margin-top: 0px;
}
.product_row li .product {
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 10px;
	margin-top: 5px;
}
.jcarousel-skin-tango .product_row li .product {
	margin-top: 0px;
}
.product_row li .product_inner {
	overflow: hidden;
	text-align: center;
	padding-bottom: 10px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	border: solid 1px #000;
	background: #333;
	background-image: linear-gradient( to bottom, #333, #1B1B1B 50% );
	padding: 13px;
	-webkit-box-shadow: 1px 0px 2px 1px #111;
	box-shadow: 1px 0px 2px 1px #111;
}
.jcarousel-skin-tango .product_row li .product_inner {
	/*background: #DFEAF0;*/
	padding-bottom: 0px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	border: solid 1px #333;
	background: #000;
	padding: 5px;/*	background-image: linear-gradient( to bottom, #2A2A2A, #141414 50% );*/
	 
}
.jcarousel-skin-tango .product {
	margin-top: 0px !important;
}
.product_row img {
	max-width: 100%;
	text-align: center;
}
.jcarousel-skin-tango .product_row li .product_inner img {
	border: 1px solid #000;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	height: 140px !important;
	margin: 3px;
	width: 270px !important;
	max-width: 97%;
}
#main_col .product_row img {
	width: 100%;
	padding: 0px;
	height: 160px;
	border: 1px solid #ccc;
	/*-webkit-border-top-left-radius: 7px;
	-moz-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
	
	-webkit-border-top-right-radius: 7px;
	-moz-border-top-right-radius: 7px;
	border-top-right-radius: 7px;*/
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0px;
}
.product_row a {
	color: #000;
	width: 100%;
	font-weight: bold;
	float: left;
	text-align: center;
}
.product_row span {
	width: 100%;
	float: left;
	text-align: center;
	color: #000;
	padding-top: -3px;
	text-transform: capitalize;
	font-size: 120%;
	font-weight: 700;
}
.des_product {
	width: 60%;
	 
	overflow: hidden;
	 
	position: relative;
	z-index: 10;
}
.product_row .price {
	width: 50%;
	color: red;
	font-size: 120%;
	text-align: center;
	margin-top: 5px;
	padding-bottom: 10px;
	font-weight: 600
}
.product_row .price b {
	color: #000
}
.btn_buy {
	height: 30px;
	line-height: 30px;
	cursor:pointer;
	width:96px;
	border: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	text-transform:uppercase;
	font-weight:bold;
	background: url(../images/bg_btn.png) left center no-repeat;
}
.btn_buy:hover {
	color: #F00 !important;
}
.product_row .btn {
	width: 109px;
	float: right;
	overflow: hidden;
	text-align: center;
}
.product_row a.btn_buy {
	width: 100%;
	margin-left: 5px;
	color: #fff;
}
.chuyen_muc_con {/* background:url(../images/bg_chuyen_muc_con.png) top repeat-x; margin-top:7px;*/
	margin-left: 20px;
	height: 54px;
}
.chuyen_muc_con a {
	float: left;
	background: url(../images/bg_a_left2.png) center left no-repeat;
	line-height: 54px;
	padding: 0px 0px 0px 30px;
	color: #FFF;
}
.chuyen_muc_con a:hover {
	color: #F00;
}
.chuyen_muc_con .icon_e {
	width: 27px;
	height: 54px;
	float: left;
	background: url(../images/bg_a_left2.png) center right no-repeat;
}
.buy_bt {
	display: block;
	width: 70px;
	text-align: center;
	height: 30px;
	border-radius: 2px;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 30px;
	background-image: linear-gradient( to bottom, #333, #1B1B1B 50% );
	border: #444;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
}
.buy_bt:hover {
	color: #FC0;
}
input[type=button]:hover {
	color: #F00;
}
/*Footer*/
	
#footer {
	color: #FFF;
	position: relative;
	margin-top: 10px;
	background: #317E8E;
	min-height: 100px;
	float: left;
	width: 100%;
	 
}
#footer a {
	color: #fff;
}
.copyright {
	position: absolute;
	right: 20px;
	bottom: 10px;
text-align:right; width:40%
}
#footer h3 {
	border-bottom: solid 1px #fff;
	padding-bottom: 5px;
	width: 100%;
	text-transform: uppercase;
}
#footer ul {
	list-style: none;
	padding: 10px;
}
#footer .address {
	float: left;
	margin-left: 20px;
	margin-top:5px;
	margin-bottom:10px;
min-width:50%;
}
.visit {
	color: #fff;
	padding-left: 10px;
	font-size: 110%
}
.visit .soluong {
	float: left;
	text-align: left;
	padding-left: 15px;
	padding-top: 10px;
	line-height: 20px;
}
#footer .address p {
	padding:0; margin:0;
	padding-top:0.5em;	
}
.social_network {
	position: absolute;
	top:10%;
	left:60%;
}
.thanh_toan{ position: absolute;
	top: 10%;
	right:20px;
}
.social_network a {
	padding:0; margin:0;
	padding-left: 30px;
	padding-bottom: 20px;
	background: url(../images/social_network.png) left center no-repeat;
	margin-right: 5px;
}
.social_network .facebook {
	background-position: left center;
}
.social_network .youtube {
	background-position: -31px center;
}
.social_network .gplus {
	background-position: right center;
}
.view_all {
	float: left;
	color: red;
	font-style: italic;
	font-size: 12px;
	margin-left:10px;
}
.view_all:hover {
	color: #000;
}
#detail_news .view_all {
	color: #333
}
 
.list_product .view_all {
	margin-right: 20px;
}

/*News*/
#main_col #list_news {
	 
	 
	color: #333;
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

#list_news ul li {
	border-bottom: 1px dotted #8B8B8B;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news ul.main_news_index li{ width:50%; border:0px; margin:0; padding:0;}
#list_news ul.main_news_index img{ width:25%; padding:0; margin-top:5px;}
#list_news ul.main_news_index .desc {
	width: 60%;
	 
	overflow: hidden;
	 white-space: pre-line;
	position: relative;
	z-index: 10;
}
#list_news ul.main_news_index .desc h3 a {
	 white-space: normal;
}

.view_detail {
	color: yellow;
}
#list_news .view_detail {
	color: red
}
 
#list_news h3 {
	padding: 0 0 3px 0;
}
#list_news h3 a {
	color: #009;
}
#list_news p {
	margin: 0 0 1em 0;
	line-height: 150%;
}
#list_news ul.main_news_index h3 a{ color:#2C899B; font-size:110%}
#list_news ul.main_news_index p{ margin:0}
#list_news {
	border: 0px
}
#list_news img {
	border: 1px solid #e3e3e3;
	padding: 3px;
	max-width: 150px;
	height: auto
}
#info_g, #info_g p {
	line-height: 160%
}
p.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
	line-height: 10px !important;
	padding: 0;
	margin: 0;
	height: 10px;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #ccc;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #ccc;
	font-weight: 500;
	font-size: 16px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 4px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.other_news_sub a:hover {
	color: red !important;
}

.box_news_index {
	padding: 0px;
}
.box_news_index li {
	width: 100%;
	float: left;
	padding-bottom: 0px;
	margin-bottom: 10px;
}
.box_news_index li:last-child {
	border-bottom: 0px;
}
.box_news_index li a {
}
.list_news .box_news_index img {
	max-width: 25%;
	float: left;
	margin-bottom: 10px;
}
.list_news .box_news_index .date {
	width: 100%;
	float: left;
}
.list_news .box_news_index h3 {
	float: right;
	width: 70%;
	text-align: left;
	font-weight: normal;
	margin-bottom: 10px;
}
.inner{ padding:10px;}
.tour_dia_danh{ width:100%; float:left}
.inner2{ padding:0px; padding-bottom:10px}
.main_news_index .inner2{ border-bottom:solid 1px #ccc}
.tour_dia_danh h2{ color:red; padding:10px 0px 10px 20px;}
#list_news .tour_dia_danh ul li{ width:25%; float:left; border:0px; padding-bottom:8px; margin:0}
#list_news .tour_dia_danh ul li a{ color:#006EB0; padding-left:10px; }
#list_news .tour_dia_danh ul li span{ width:11px; height:11px; background:#F0990E; float:left; color:#fff; margin-top:3px;}
	
	
/*Current Path*/
.path {
	padding: 5px 0;
	text-align: left;
	padding-left:5px;
}
.path, .path a {
	font-size: 95%;
	height: 20px;
	line-height: 20px;
	
}
.path a:hover {
	text-decoration: underline !important;
}
/*Pagination*/
#main_col .navigation {
	float: left;
	clear: both;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
#main_col .navigation a {
	display: inline-block;
	border: 1px solid #2D889D;
	margin: 0 2px;
	padding: 4px 8px;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-image: linear-gradient( to bottom, #6CCFE2, #2D889D 100% );
}
#main_col .navigation b, #main_col .navigation a:hover {
	display: inline-block;
	background-image: linear-gradient( to bottom, #2D889D, #2D889D 100% );
	border: 1px solid #2D889D;
	color: #fff;
	margin: 0 2px;
	padding: 4px 8px;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*detail_news*/
.h2Title {
	font-size: 20px;
	font-weight: 700;
	color: #870202;
	margin-bottom: 5px;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
#info_g {
	padding: 10px;
}
#info_g, #info_g p {
	line-height: 160%;
}
.mo_ta {
	margin-left: 40px;
	line-height: 100%;
	width: 42%
}
.mo_ta p {
	white-space: pre;
}
.mo_ta_chi_tiet {
	float: left;
	min-width: 80%;
	overflow: hidden;
	text-align: justify;
	padding-top: 20px
}
.mo_ta_chi_tiet h3 {
	font-size: 110%;
	color: #009;
}
.mo_ta_chi_tiet img {
	max-width: 70%;
}
#main_col #detail_news {
	border: 0px;
	background: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}
/*Detail Info*/
#dtp_info {
	position: relative;
	color: #444444;
	float: right;
	width: 100%;
}
#dtp_info input[type="text"] {
	border: 1px solid #ccc
}
.h2Title {
	font-size: 15px;
	font-weight: 700;
	color: #870202;
	margin-bottom: 15px;
	text-transform: uppercase
}
#dtp_info .dtp_status {
	float: left;
	display: block;
	width: 100%;
	line-height: 20px;
	color: #555555;
	margin-bottom: 8px;
}
#dtp_info .select {
	width: 100%;
	margin: 10px 0px;
}
#dtp_info .select select {
	margin-left: 10px;
	width: 100px;
}
#dtp_info .addtocart {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 0;
	margin-top: 20px
}
#dtp_info .dtp_price {
	color: #ff0000 !important;
	font-size: 18px !important;
	display: inline-block;
	line-height: 35px
}
#dtp_info .inputbox {
	width: 30px;
	margin-left: 10px;
}
#dtp_info .title_status {
	float: left;
	width: 160px
}
#dtp_info .buy_bt {
	width: 120px;
	margin-left: 80px;
	display: inline-block;
}
#text_info_detail {
	width: 100%
}
#the_same_P {
	width: 100%;
	float: left;
	margin-top: 10px;
}
#cmt_part {
	padding: 10px;
	border: 1px solid #CCCCCC;
	margin-left: 50px;
	margin-top: 10px
}
.buy_bt:hover {
text-shadow: 1px 1px 1px #444: color:yellow;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}
.addtocart a {
	color: #fff !important;/*line-height: 200%;*/
}
#info_pro_detail {
	margin-top: 10px;
}
#info_pro_detail li {
	text-align: left !important
}
table.page_cart {
	background-color: #C5C2C2;
	border-spacing: 1px;
	margin: 0.5em 0;
}
table.page_cart th, table.page_cart td {
	padding: 5px
}
#cart {
	margin-top: 40px;
}
table.page_cart td {
	background-color: #FFFFFF;
}
#cart .buy_bt {
	width: 150px !important;
	color: #fff;
	text-decoration: none;
}
/*Phan Hoi*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999999;
	border-left: none;
	font-weight: bold;
	background: #EEEEEE;
	overflow: hidden;
	position: relative;
}
ul.tabs li:hover {
	background: #CCCCCC;
}
ul.tabs li.active {
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.tab_container {
	border: 1px solid #999999;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #FFFFFF;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
	display: none;
}
.tab_content textarea {
	width: 100%;
	min-height: 100px;
	resize: vertical
}
#phan_hoi input[type="text"] {
	border: solid 1px #999999;
	height: 20px;
	line-height: 20px;
}
#phan_hoi table.sender {
	padding-top: 15px;
}
#phan_hoi input[type="button"] {
	width: 100px;
	text-align: center;
	height: 25px;
	line-height: 20px;
	background: #6A6255;
	color: #fff;
	margin-top: 10px;
}
#phan_hoi .anh_dai_dien img {
	width: 70px;
	height: 70px;
	border: solid 1px #ccc;
	float: left;
	padding: 3px;
	margin-top: 5px;
}
#phan_hoi ul.tin_nhan {
	width: 100%;
	padding-top: 20px;
}
#phan_hoi ul.tin_nhan .nguoi_gui {
	padding: 10px;
	float: left;
	margin-left: 10px;
	width: 85%
}
#phan_hoi ul.tin_nhan .nguoi_gui a, .nguoi_gui b {
	color: #04B5C5;
}
#phan_hoi ul.tin_nhan .nguoi_gui a:hover {
	color: #333 !important;
}
#phan_hoi ul.tin_nhan .nguoi_gui span {
	float: right;
	color: #666;
	font-size: 10px;
}
#phan_hoi ul.tin_nhan .nd_tin_nhan {
	width: 85%;
	float: left;
	margin-left: 10px;
}
#phan_hoi p {
	display: block;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
ul.tin_nhan a.tra_loi {
	width: 90%;
	float: right;
	text-align: right;
	color: #04B5C5 !important;
	font-size: 11px;
	margin-right: 10px;
}
ul.tin_nhan li {
	width: 100%;
	float: left;
	border-bottom: 1px dotted #ccc;
}
ul.giai_dap {
	margin-left: 100px;
	background: #eee;
}
ul.giai_dap li:last-child {
	border-bottom: 0px;
}
/*Ho tro truc tuyen*/

#sp_head {
	position: fixed;
	top: 250px;
	right: 0px;
	z-index: 9999999;
	color: #111;
}
#map-legend {
	display: none;
	width: 150px;
	min-height: 140px;
	background: none repeat scroll 0% 0% #FFF;
	height: 100%;
	margin: 0px;
	padding: 10px;
	float: right;
	position: relative;
}
#map-legend-control {
	width: 30px;
	float: right;
	position: relative;
	right: 5px;
}
#sp_head #map-legend ul {
	margin-left: 0px;
	text-align: center;
	margin-top: 35px;
}
#map-legend a {
	width: 70px;
}
#sp_head .hotline {
	font-weight: 500;
	font-size: 1.3em;
}
.number_phone {
	display: block;
	color: #F00;
	font-weight: 500;
}
.close_f {
	text-align: left;
	line-height: 20px;
}
.icon_close {
	width: 20px;
	height: 20px;
	background: url(../images/close.png) no-repeat;
	background-size: 100% 100%;
	line-height: 0px;
	margin-right: 10px;
}


.marquee {
    width:100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
 
.marquee span:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}


.lang {
	position: absolute;
	top: 10px;
	right: 10px
}
.lang img {
	margin-right: 5px;
}
.lang a {
	margin-left : 5px;
	float: left;
	color: #fff
}